html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading {
    position: fixed;
    background: #353535;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading::after {
    content: 'Loading...';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-none {
    display: none !important;
}

.chess-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid #000;
}

.chess-app .board {
    display: flex;
    flex-direction: column;
    background: #949494;
    height: 600px;
    width: 600px;
}

.chess-app .board .row {
    display: flex;
    flex: 1;
}

.chess-app .board .row .tile {
    position: relative;
    display: flex;
    flex: 1;
}

.chess-app .board .row .tile.tile-even {
    background: #ffebc7;
}

.chess-app .board .row .tile.tile-odd {
    background: #809e44;
}

.chess-app .board .row .tile::after, .tile::before {
    position: absolute;
    color: #777;
    text-align: center;
    z-index: -1;
    font-size: 14px;
    font-weight: 700;
}

.chess-app .board .row .tile::after {
    content: attr(data-name-letter);
    bottom: -20px;
    width: 100%;
}

.chess-app .board .row .tile::before {
    content: attr(data-name-number);
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chess-app .board .row .tile .point {
    display: none;
}

.chess-app .board .row .tile.moving-possible {
    cursor: pointer;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}

.chess-app .board .row .tile.moving-possible .point {
    background: rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    display: block;
}

.chess-app .moves-list {
    background: #f1e5cf;
    height: 600px;
    width: 250px;
    border-left: 2px solid #000;
}

.chess-app .chess-piece {
    background: url(chess-pieces.png);
    background-repeat: no-repeat;
    background-size: 400px;
    display: flex;
    flex: 1;
    cursor: pointer;
}

.chess-app .chess-piece.pawn.white {
    background-position: -329px 4px;
}

.chess-app .chess-piece.pawn.black {
    background-position: -329px -64px;
}

.chess-app .chess-piece.rook.white {
    background-position: -263px 4px;
}

.chess-app .chess-piece.rook.black {
    background-position: -263px -64px;
}

.chess-app .chess-piece.knight.white {
    background-position: -196px 4px;
}

.chess-app .chess-piece.knight.black {
    background-position: -196px -64px;
}

.chess-app .chess-piece.bishop.white {
    background-position: -129px 4px;
}

.chess-app .chess-piece.bishop.black {
    background-position: -129px -64px;
}

.chess-app .chess-piece.queen.white {
    background-position: -62px 4px;
}

.chess-app .chess-piece.queen.black {
    background-position: -62px -64px;
}

.chess-app .chess-piece.king.white {
    background-position: 5px 4px;
}

.chess-app .chess-piece.king.black {
    background-position: 5px -64px;
}